:host {
  display: contents;
}

.ui-page-header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 1.25rem;
  border-radius: 28px;
  border-width: 1px;
  border-color: rgb(243 244 246);
  background-color: rgb(255 255 255);
  padding: 1.25rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

@media (min-width: 768px) {
  .ui-page-header {
    gap: 1.5rem;
    border-radius: 36px;
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .ui-page-header {
    flex-direction: row;
    align-items: center;
    padding: 2.5rem;
  }
}

.ui-page-header h1 {
  overflow-wrap: break-word;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 900;
  letter-spacing: -0.025em;
  color: rgb(3 7 18);
}

@media (min-width: 640px) {
  .ui-page-header h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 768px) {
  .ui-page-header h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.ui-page-header p {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  color: rgb(156 163 175);
}

@media (min-width: 768px) {
  .ui-page-header p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
