:host {
  display: contents;
}

.ui-stat {
  border-radius: 28px;
  border-width: 1px;
  border-color: rgb(243 244 246);
  background-color: rgb(255 255 255);
  padding: 1.25rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.ui-stat:hover {
  transform: translateY(-0.125rem);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

@media (min-width: 768px) {
  .ui-stat {
    padding: 1.75rem;
  }
}

.ui-stat-icon {
  margin-bottom: 1.25rem;
  display: flex;
  height: 3rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 900;
}

.ui-stat p {
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgb(156 163 175);
}

.ui-stat h4 {
  margin-top: 0.5rem;
  overflow-wrap: break-word;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 900;
  color: rgb(3 7 18);
}

@media (min-width: 768px) {
  .ui-stat h4 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.ui-stat span {
  margin-top: 0.5rem;
  display: block;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  color: rgb(107 114 128);
}
