:host {
  display: contents;
}

.input {
  height: 3.5rem;
  width: 100%;
  border-radius: 1rem;
  border-width: 1px;
  border-color: rgb(229 231 235);
  background-color: rgb(249 250 251);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgb(3 7 18);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.input::-moz-placeholder {
  color: rgb(156 163 175);
}

.input::placeholder {
  color: rgb(156 163 175);
}

.input:focus {
  border-color: rgb(124 58 237);
  box-shadow: 0 0 0 2px rgb(233 213 255);
}

@media (min-width: 768px) {
  .input {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  background-color: rgb(124 58 237);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: rgb(255 255 255);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn-primary:hover {
  background-color: rgb(109 40 217);
}

.btn-primary:disabled {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .btn-primary {
    border-radius: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.btn-soft {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  background-color: rgb(249 250 251);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: rgb(75 85 99);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn-soft:hover {
  background-color: rgb(243 244 246);
}

@media (min-width: 768px) {
  .btn-soft {
    border-radius: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
